# Node.js / Dependências
node_modules/
npm-debug.log
yarn-error.log
package-lock.json  # Opcional, remova se usar npm

# Builds e arquivos gerados
*.apk
*.aab
*.ipa
*.app

# Arquivos de build do React Native
dist/
build/

# Diretórios de build do Android
android/app/build/
android/build/
android/.gradle/
android/app/.cxx/
android/*.keystore
android/app/debug/
android/app/release/

# Diretórios de build do iOS
ios/build/
ios/Pods/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/

# Arquivos de configuração local
*.env
.env.local
.env.development
.env.production

# Logs e arquivos temporários
*.log
*.log.*
*.tmp
*.bak
*.swp

# Metro (Bundler do React Native)
.metro/
*.bundle

# Arquivos de cache
*.cache
.cache/

# Ferramentas de teste
coverage/
*.lcov

# Arquivos do Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout

# Arquivos do Android Studio
.idea/
*.iml

# Outros
.DS_Store  # macOS
Thumbs.db  # Windows

# Pastas de saída personalizadas (se aplicável)
out/